@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --scrollbar-track: #0f1113; /* track bg */
  --scrollbar-thumb: #3a3b3d; /* thumb normal */
  --scrollbar-thumb-hover: #5a5b5d; /* thumb hover */
  --scrollbar-width: 10px;
}

.custom-scroll::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}
.custom-scroll::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: 999px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    var(--scrollbar-thumb),
    var(--scrollbar-thumb)
  );
  border-radius: 999px;
  border: 2px solid transparent;
  background-clip: padding-box;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

.custom-scroll.has-top-shadow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 8px;
  pointer-events: none;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.35), transparent);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
